* {
  box-sizing: border-box;
}

$col-light-s: #FAFAFA;
$col-light-l: #F6F6F6;
$col-primary: #F1CDB3;
$col-light-xl: #FFFFFF;
$col-dark-s: #CDCDCD;
$col-dark-l: #545454;
$col-dark-xl: #4C4C4C;

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: Georgia, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $col-dark-l;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: $col-dark-xl;
}

.header__wrapper {
  // padding: 60px 360px 0 360px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 120px;
  margin: 0 auto;


  .logo {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo__title {
      color: $col-primary;
      font-size: 32px;
      line-height: 110%;
      display: flex;
      align-items: center;
      letter-spacing: 0.06em;
    }

    .logo__text {
      color: $col-light-xl;
      font-size: 13px;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
    }
  }

  .header__menu {
    display: flex;
    align-items: center;
    color: $col-dark-s;

    ul {
      display: flex;
      list-style-type: none;

      li {
        padding-left: 35px;
      }
    }
  }
}

.main {
  width: 100%;
}

.notonly {
  background:
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    #211F20;
  height: 908px;
  margin-top: -120px;
  background-repeat: no-repeat;
  background-position: center;

  .notonly__wrapper {
    padding: 180px 0;
  }

  .notonly__title {
    padding-top: 160px;
    font-size: 44px;
    line-height: 130%;
    color: $col-light-xl;
  }

  .notonly__text {
    color: $col-dark-s;
    width: 460px;
  }

  .notonly__pic {
    width: 698px;
    height: 728px;
    float: right;
    background-image: url(assets/start-screen-puppy.png);
    background-position-y: 0;
    background-position-x: 0;
  }
}

.about {
  height: 588px;

  .about__wrapper {
    padding: 80px 175px;
  }

  .about__pic {
    float: left;
    padding-right: 120px;
  }

  .about__title {
    padding-top: 14px;
  }

  .about__text {
    padding-top: 25px;
  }
}

.our-friends {
  height: 877px;
  background-color: $col-light-l;
}

.help {
  height: 611px;
}

.donation {
  height: 464px;
  background-color: $col-light-l;
}

footer {
  height: 355px;
  background:
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
    #211F20;
  background-position: center;
}