* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CDCDCD;
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.button-dark, .button-white, .our-friends .our-friends__carousel .arrow-left, .our-friends .our-friends__carousel .arrow-right {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 207px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.button-dark:hover, .button-white:hover, .our-friends .our-friends__carousel .arrow-left:hover, .our-friends .our-friends__carousel .arrow-right:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.button-dark {
  background: #F1CDB3;
}

.button-white {
  background: none;
}

.title, .header4 {
  font-family: Georgia, serif;
  font-size: 35px;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.header4 {
  padding: 30px 0;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
}

.header__wrapper {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  width: 100%;
  height: 120px;
  margin: 0 auto;
}

header .logo {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo .logo__title {
  color: #F1CDB3;
  font-size: 32px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
}

header .logo .logo__text {
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
}

header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CDCDCD;
}

header .header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header .header__menu ul li {
  padding-left: 35px;
}

.main {
  width: 100%;
}

.notonly {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  height: 908px;
  margin-top: -120px;
  background-repeat: no-repeat;
  background-position: center;
}

.notonly .notonly__wrapper {
  padding: 180px 0;
}

.notonly .notonly__title {
  padding-top: 160px;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.notonly .notonly__text {
  padding: 41px 0;
  color: #CDCDCD;
  width: 460px;
}

.notonly .notonly__pic {
  width: 698px;
  height: 728px;
  float: right;
  background-image: url(assets/start-screen-puppy.png);
  background-position-y: 0;
  background-position-x: 0;
}

.about {
  height: 588px;
}

.about .about__wrapper {
  padding: 80px 175px;
}

.about .about__pic {
  float: left;
  padding-right: 120px;
}

.about .about__title {
  padding-top: 14px;
}

.about .about__text {
  padding-top: 25px;
}

.our-friends {
  height: 877px;
  background-color: #F6F6F6;
}

.our-friends .our-friends__title {
  text-align: center;
  padding: 80px 0 60px 0;
}

.our-friends .our-friends__carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.our-friends .our-friends__carousel .arrow-left, .our-friends .our-friends__carousel .arrow-right {
  position: absolute;
  width: 52px;
  height: 52px;
  background: url(assets/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: 190px;
}

.our-friends .our-friends__carousel .arrow-left:hover, .our-friends .our-friends__carousel .arrow-right:hover {
  background: url(assets/arrow.png), #FDDCC4;
  background-repeat: no-repeat;
  background-position: center;
}

.our-friends .our-friends__carousel .arrow-right {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  left: unset;
  right: 0;
}

.our-friends .our-friends__carousel .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 35px;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
}

.our-friends .our-friends__carousel .card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FFFFFF;
}

.our-friends .our-friends__carousel .card .card__photo {
  width: 200px;
  height: 240px;
}

.our-friends .our-friends__carousel .card .card__name {
  text-align: center;
  margin: 0 auto;
}

.our-friends .our-friends__carousel .card .card__button {
  width: 187px;
  margin: 0 auto;
}

.our-friends .our-friends__rest {
  margin: 60px auto;
  width: 261px;
}

.help {
  height: 611px;
}

.help .help__title {
  text-align: center;
  padding: 80px 0 60px 0;
}

.help .help__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help .help__grid .grid__element {
  margin: 0 60px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation {
  height: 464px;
  background-color: #F6F6F6;
}

.donation div {
  margin-bottom: 20px;
}

.donation a {
  all: unset;
  color: #545454;
}

.donation .donation__wrapper {
  padding: 80px 142px;
}

.donation .donation__card-number {
  width: 349px;
  height: 43px;
  font-size: 20px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.donation .donation__pic {
  margin-right: 30px;
  float: left;
}

.donation .card__icon {
  float: left;
  margin-right: 15px;
  width: 30px;
  height: 23px;
  background: url(assets/card-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: unset;
}

.donation .donation__info {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

footer {
  height: 355px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-position: center;
}

footer .footer__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__wrapper .footer__column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__wrapper .footer__column .footer__title {
  color: #FFFFFF;
}

footer .footer__wrapper .footer__column .footer__pic {
  margin-bottom: 0;
  width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer__wrapper .footer__link {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__wrapper .footer__link a {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  line-height: 115%;
  color: #F1CDB3;
  font-size: 20px;
  letter-spacing: 0.06em;
}

footer .footer__wrapper .footer__link img {
  margin-right: 20px;
}
