* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0092b3;
  color: white;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  transition: background 1s ease;
}

body.play-mode {
  background-color: #6b4e91;
}

body .wrapper {
  padding: 0 2rem;
}

body .hidden {
  opacity: 0;
  visibility: hidden;
}

body .display-none {
  display: none;
}

body .goDown {
  transform: translateY(3rem);
}

body h1 {
  display: inline;
  margin: 0 0 0 1rem;
  font-size: 2.25rem;
  line-height: 2.25rem;
}

body header {
  height: 8rem;
  line-height: 8rem;
  display: flex;
  justify-content: space-around;
}

body header nav {
  width: 2rem;
  display: flex;
  align-items: center;
}

body header nav .menu-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform 0.6s, opacity 0.1s;
  cursor: pointer;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

body header nav .menu-btn span.bar {
  background: white;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.25rem;
  transition: transform 0.5s, opacity 0.5s;
}

body header nav .menu-btn.jump-to-menu {
  transform: translateX(220px) rotate(0deg);
  z-index: 9;
}

body header nav .menu-btn.jump-to-menu span.bar:first-child {
  transform: translateY(0.7rem) translateX(0) rotate(45deg);
}

body header nav .menu-btn.jump-to-menu span.bar:nth-child(2) {
  opacity: 0;
}

body header nav .menu-btn.jump-to-menu span.bar:nth-child(3) {
  transform: translateY(-0.7rem) translateX(0) rotate(-45deg);
}

body header nav .menu-btn:hover {
  opacity: 0.75;
}

body header nav .menu-btn:active {
  opacity: 0.45;
}

body header nav .menu {
  position: fixed;
  z-index: 8;
  margin: 0;
  padding: 8rem 2rem;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background: #e4ad48;
  transition: transform 0.4s;
  transform: translateX(-320px);
}

body header nav .menu.show {
  width: 320px;
  transform: translateX(0);
}

body header nav .menu li {
  padding: 0 0 0 2.5rem;
  list-style-type: none;
  line-height: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.25s;
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: 0 0;
  text-transform: capitalize;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

body header nav .menu li:hover {
  transform: scale(1.25);
}

body header nav .menu li:active {
  transform: scale(1.15);
}

body header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

body header .logo h1 {
  user-select: none;
  cursor: pointer;
  transition: font 0.25s;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

body header .logo h1:hover {
  font-size: 2.5rem;
}

body header .logo h1:active {
  font-size: 2.4rem;
}

body header input[type="checkbox"] {
  display: none;
}

body header #toggle-mode {
  position: relative;
  display: block;
  min-width: 6.25rem;
  width: 6.25rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 3px white;
  border-radius: 1.25rem;
  cursor: pointer;
  margin: auto 1rem;
  overflow: hidden;
  transition: box-shadow 0.2s;
}

body header #toggle-mode:hover {
  box-shadow: 0 0 10px white;
}

body header #knob {
  width: 2rem;
  height: 2rem;
  background-color: white;
  position: relative;
  top: 0.25rem;
  left: 0.25rem;
  border-radius: 50%;
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease left, 0.4s ease background-position;
}

body header #play,
body header #train {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.5rem;
  margin-left: 0.75rem;
  transition: transform 0.4s, opacity 0.6s;
  user-select: none;
}

body header #train {
  margin-left: 2.5rem;
}

body header #checkbox:checked + #toggle-mode #knob {
  left: 4rem;
}

body header #checkbox:checked + #toggle-mode #train {
  transform: translateX(4rem) translateY(-50%);
  opacity: 0;
}

body header #checkbox:not(:checked) + #toggle-mode #play {
  transform: translateX(-4rem) translateY(-50%);
  opacity: 0;
}

body header .stats-btn {
  margin: auto;
  padding: 0;
  min-width: 6.25rem;
  width: 6.25rem;
  height: 2.5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 25px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  color: white;
  outline: none;
  transition: box-shadow 0.2s, transform 0.1s;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

body header .stats-btn:hover {
  box-shadow: 0 0 10px white;
}

body header .stats-btn:active {
  transform: scale(0.95);
}

body header .overlay {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 0.25s;
}

body main .game-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: opacity 0.5s, visibility 0.5s;
}

body main .game-field .flip-card {
  margin: 1rem;
  width: 16rem;
  height: 19rem;
  perspective: 1500px;
  border-radius: 1rem;
  transition: transform 0.25s;
}

body main .game-field .flip-card:hover {
  transform: translateY(-0.5rem);
}

body main .game-field .card {
  margin: 1rem;
  width: 16rem;
  height: 19rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.34);
  cursor: pointer;
  user-select: none;
  background-color: white;
  color: black;
  transition: transform 0.25s, box-shadow 0.5s;
  margin: 0;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

body main .game-field .card:hover {
  box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.64);
  transition: transform 0.25s, box-shadow 0.5s;
}

body main .game-field .card .card__front,
body main .game-field .card .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 1rem;
}

body main .game-field .card .card__front {
  color: black;
  overflow: hidden;
}

body main .game-field .card .card__front .card__rotate-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  background: url("../assets/img/_rotate.svg");
  background-size: contain;
  transition: transform 0.25s, opacity 0.25s, visibility 0.25s;
  backface-visibility: hidden;
}

body main .game-field .card .card__front .card__rotate-btn:hover {
  transform: rotate(140deg) scale(1.1);
}

body main .game-field .card .card__front .card__rotate-btn:active {
  transform: rotate(140deg) scale(1);
}

body main .game-field .card .card__back {
  transform: rotateY(180deg);
  background: rgba(0, 0, 0, 0.15);
  color: black;
}

body main .game-field .rotate {
  transform: rotateY(180deg);
}

body main .game-field .category-card {
  margin: 1rem;
  width: 16rem;
  height: 19rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.34);
  cursor: pointer;
  user-select: none;
  background-color: white;
  color: black;
  transition: transform 0.25s, box-shadow 0.5s;
}

body main .game-field .category-card:hover {
  box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.64);
  transition: transform 0.25s, box-shadow 0.5s;
}

body main .game-field .category-card:hover {
  box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}

body main .game-field .card__image {
  width: 16rem;
  height: 16rem;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;
}

body main .game-field .card__title {
  line-height: 3rem;
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  backface-visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;
}
