* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin max_620 {
  @media (max-width: 620px) {
    @content;
  }
}

@mixin card {
  margin: 1rem;
  width: 16rem;
  height: 19rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.34);
  cursor: pointer;
  user-select: none;
  background-color: white;
  color: black;
  transition: transform 0.25s, box-shadow 0.5s;

  &:hover {
    box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.64);
    transition: transform 0.25s,
      box-shadow 0.5s;
  }

  @include max_620() {
    transform: scale(0.85);
    margin: 0;
  }
}

@mixin dropShadow {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

@mixin dropShadowWhite {
  filter: drop-shadow(0 2px 4px rgba(255, 255, 255, .85));
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2)
  }
}

@mixin btn {
  padding: 0;
  min-width: 4.25rem;
  height: 2.5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 25px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  color: white;
  outline: none;
  transition: transform 0.05s,
    box-shadow 0.1s, font 0.1s;
  white-space: nowrap;
  @include dropShadow();

  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  }

  &:active {
    transform: scale(0.95);

    @include max_620() {
      transform: scale(0.8);
    }
  }
}

$col-bg-train: #0092b3;
$col-bg-play: #6b4e91;
$col-menu: rgb(247, 182, 63);

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  margin: 0;
  background: $col-bg-train;
  color: white;
  box-sizing: border-box;
  font-family: 'Roboto',
    sans-serif;
  transition: background 1s ease;

  &.wrapper {
    min-height: 100%;
    height: auto !important;
  }

  &.play-mode {
    background-color: $col-bg-play;
  }

  .wrapper {
    padding: 0 2rem;

    @include max_620() {
      padding: 0 10px;
    }
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
  }

  .display-none {
    display: none;
  }

  .goDown {
    transform: translateY(3rem);
  }

  h1 {
    display: inline;
    margin: 0 0 0 1rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 8rem;
    line-height: 8rem;
    display: flex;
    justify-content: space-around;
    background-color: inherit;

    nav {
      width: 2rem;
      display: flex;
      align-items: center;

      .menu-btn {
        width: 2rem;
        height: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: transform 0.4s, opacity 0.1s;
        cursor: pointer;
        @include dropShadow();

        &:hover {
          opacity: 0.75;
        }

        &:active {
          opacity: 0.45;
        }

        span.bar {
          background: white;
          width: 100%;
          height: 0.25rem;
          border-radius: 0.25rem;
          transition: transform 0.5s, opacity 0.5s;
        }

        &.jump-to-menu {
          transform: translateX(220px) rotate(00deg);
          z-index: 9;

          @include max_620() {
            transform: translateX(242px) rotate(00deg);
          }

          span.bar:first-child {
            transform: translateY(calc(2rem / 3)) translateX(0) rotate(45deg);
          }

          span.bar:nth-child(2) {
            opacity: 0;
          }

          span.bar:nth-child(3) {
            transform: translateY(calc(-2rem / 3)) translateX(0) rotate(-45deg);
          }
        }
      }

      .menu {
        position: fixed;
        z-index: 8;
        margin: 0;
        padding: 8rem 2rem;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        height: 100%;
        background-color: $col-menu;
        background: linear-gradient(120deg, rgba(247, 182, 63, 1) 0%, rgb(226, 126, 33) 100%);
        transition: transform 0.4s;
        transform: translateX(-320px);
        box-shadow: 0 0 3rem rgba(0, 0, 0, 0.75);

        &.show {
          width: 320px;
          transform: translateX(0);
        }

        li {
          padding: 0 0 0 2.5rem;
          list-style-type: none;
          line-height: 2rem;
          font-size: 2rem;
          cursor: pointer;
          user-select: none;
          transition: font 0.1s, filter 0.1s, opacity 0.1s;
          background-repeat: no-repeat;
          background-size: 2rem;
          background-position: 0 0;
          text-transform: capitalize;
          @include dropShadow();

          &.active {
            text-decoration: underline;
          }

          &:hover {
            filter: drop-shadow(0 2px 4px rgba(255, 255, 255, 0.75));
          }

          &:active {
            opacity: 0.75;
          }

          &.home-link {
            margin-bottom: 2rem;
            background-image: url(../assets/img/home-link.svg);
            background-repeat: no-repeat;
            background-size: contain;
            filter: invert(1) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
            width: 3rem;
            height: 3rem;

            &:hover {
              filter: invert(1) drop-shadow(0 2px 4px rgba(255, 255, 255, 1));
            }
          }
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      font-family: 'Architects Daughter', cursive;

      h1.logo__title {
        user-select: none;
        cursor: pointer;
        transition: filter 0.1s, opacity 0.2s, font 0.2s;
        @include dropShadow();

        @include max_620() {
          font-size: 2rem;
        }

        &:hover {
          @include dropShadowWhite();
        }

        &:active {
          opacity: 0.75;
        }
      }
    }

    .controls {
      height: auto;
      display: flex;
      justify-content: space-between;

      @include max_620() {
        justify-content: center;
        flex-direction: column-reverse;
        margin-right: -0.5rem;
      }

      input[type="checkbox"] {
        display: none;
      }

      #toggle-mode {
        position: relative;
        display: block;
        min-width: 6.25rem;
        width: 6.25rem;
        height: 2.5rem;
        background-color: rgba(0, 0, 0, 0.45);
        box-shadow: 0 0 3px rgba(255, 255, 255, 1);
        border-radius: 1.25rem;
        cursor: pointer;
        margin: auto 1rem;
        overflow: hidden;
        transition: box-shadow 0.1s;

        &:hover {
          box-shadow: 0 0 10px rgba(255, 255, 255, 1);
        }
      }

      #knob {
        width: 2rem;
        height: 2rem;
        background-color: white;
        position: relative;
        top: 0.25rem;
        left: 0.25rem;
        border-radius: 50%;
        box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.6);
        transition: 0.4s ease left, 0.4s ease background;
      }

      #play,
      #train {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.85);
        font-size: 1.5rem;
        margin-left: 0.75rem;
        transition: transform 0.4s, opacity 0.6s;
        user-select: none;
      }

      #train {
        margin-left: 2.5rem;
      }

      #checkbox:checked+#toggle-mode #knob {
        left: 4rem;
        background-color: lime;
      }

      #checkbox:checked+#toggle-mode #train {
        transform: translateX(4rem) translateY(-50%);
        opacity: 0;
      }

      #checkbox:not(:checked)+#toggle-mode #play {
        transform: translateX(-4rem) translateY(-50%);
        opacity: 0;
      }

      .stats-btn {
        @include btn;
        margin: auto;
        width: 6.25rem;
      }

      #toggle-mode,
      .stats-btn {
        @include max_620() {
          transform: scale(0.85);
          margin: 0;
        }
      }
    }

    .overlay {
      position: fixed;
      z-index: 7;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      transition: opacity 0.25s, visibility 0.25s;
      backdrop-filter: blur(2px);
    }

    .modal-overlay {
      @extend .overlay;

      .modal {
        position: fixed;
        max-width: 90%;
        min-width: 260px;
        top: 50%;
        left: 50%;
        z-index: 7;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        transform: translate(-50%, -60%);
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 1rem;

        p {
          width: 100%;
          text-align: center;
          line-height: 1rem;
          padding: 1rem 0.5rem;
        }

        .yes-btn,
        .no-btn {
          @include btn();
          z-index: 8;
          font-size: 1rem;
          margin: 0.5rem;
          height: 2rem;
        }
      }
    }


  }

  main {

    &.wrapper {
      padding: 8rem 0;
    }

    .game-panel {
      position: fixed;
      right: 0;
      margin: 2rem auto 0;
      padding-top: 3rem;
      width: 4rem;
      min-height: 22rem;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: rgba(0, 0, 0, 0.3);
      transition: right 0.5s, opacity 0.5s, visibility 0.5s, margin 0.5s, height 1s;

      &.hidden {
        right: -100%;
        height: 0;
      }

      div {
        transform: opacity 0.5s;
      }

      &.hidden-content div {
        opacity: 0 !important;
      }

      .star {
        width: 1.5rem;
        height: 0rem;
        opacity: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../assets/img/star_false.svg);
        transition: height 0.2s, opacity 0.1s;

        &:nth-child(n+11) {
          height: 0 !important;
        }

        &:nth-child(n+12) {
          display: none;
        }
      }

      .star-empty {
        background-image: url(../assets/img/star_null.svg);
      }

      .star-true {
        background-image: url(../assets/img/star_true.svg);
      }

      .replay-btn {
        position: absolute;
        top: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        background-image: url(../assets/img/play-again.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        border-radius: 50%;
        transition: box-shadow 0.2s, background 0.5s, transform 0.1s, visibility 0.2s, opacity 0.2s;
        @include dropShadow();

        &.play-btn {
          background-image: url(../assets/img/play.svg);
        }

        &:hover {
          box-shadow: 0 0 10px rgba(255, 255, 255, 1);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }

    .game-field {
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      transition: opacity 0.5s,
        visibility 0.5s, padding 0.5s;

      &.narrow {
        padding-right: 4rem;
      }

      .category-header {
        width: 100%;
        text-align: center;
        padding-bottom: 0.75rem;

        font-size: 1.75rem;
        font-weight: normal;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.75);
        cursor: default;
        @include dropShadow();

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .finish-message {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 2rem;
        height: 40vh;
        width: 30vh;
        min-height: 240px;
        min-width: 180px;
        opacity: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: top;
        transition: opacity 0.5s, background 0.5s;
        @include dropShadow();
      }

      .flip-card {
        margin: 1rem;
        width: 16rem;
        height: 19rem;
        perspective: 1500px;
        border-radius: 1rem;
        transition: transform 0.25s;

        @include max_620() {
          margin: 0;
        }

        &:hover {
          transform: translateY(-0.5rem);
        }

        &.disabled {
          opacity: 0.4;
          cursor: default;
          transform: translateY(-0.4rem);

          &:hover {
            cursor: default;
          }
        }
      }

      .card {
        @include card();
        margin: 0;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        position: relative;

        .card__front,
        .card__back {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          border-radius: 1rem;
        }

        .card__front {
          color: black;
          overflow: hidden;

          .card__rotate-btn {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 3rem;
            height: 3rem;
            background: url(../assets/img/rotate.svg);
            background-size: contain;
            transition: transform 0.25s, opacity 0.25s, visibility 0.25s;
            backface-visibility: hidden;

            &:hover {
              transform: rotate(140deg) scale(1.1);
            }

            &:active {
              transform: rotate(140deg) scale(1);
            }
          }
        }

        .card__back {
          transform: rotateY(180deg);
          background: rgba(0, 0, 0, 0.15);
          color: black;
        }

      }

      .rotate {
        transform: rotateY(180deg);

        @include max_620() {
          transform: rotateY(180deg) scale(0.9);
        }
      }

      .category-card {
        @include card();

        &:hover {
          box-shadow: 0px 0px 1.5rem 0px rgba(0, 0, 0, 0.64);
          transform: scale(1.05);

          @include max_620() {
            transform: scale(0.9);
          }
        }
      }

      .card__image {
        width: 16rem;
        height: 16rem;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        backface-visibility: hidden;
        transition: opacity 0.25s, visibility 0.25s;
      }

      .card__title {
        line-height: 3rem;
        text-align: center;
        font-size: 1.75rem;
        text-transform: uppercase;
        backface-visibility: hidden;
        transition: opacity 0.25s, visibility 0.25s;

        &.hidden {
          visibility: visible;
        }
      }

      .stats-field {
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
        padding-top: 3rem;
        overflow: auto;
        min-width: 70%;
        max-width: 100%;
        transition: font 0.1s;
        @include scrollbar();

        @include max_620() {
          font-size: 0.875rem;
          margin: 0 0.5rem;
        }

        .row {
          width: 100%;
          display: flex;
          line-height: 1.5rem;
          color: rgba(255, 255, 255, 0.75);
          cursor: default;

          &.head-row {
            user-select: none;
            cursor: pointer;
            color: rgba(255, 255, 255, 1);

            >div {
              background-color: rgba(0, 0, 0, 0.20);
            }

            div.sorted {
              position: relative;
              background-color: rgba(0, 0, 0, 0.35);

              &.down::after,
              &.up::after {
                padding-left: 2px;
                content: '↓';
              }

              &.up::after {
                content: '↑';
              }
            }
          }

          div {
            width: 100%;
            min-width: 90px;
            text-transform: capitalize;
            overflow: hidden;
            flex-wrap: nowrap;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 2px;

            &:nth-child(n+4) {
              min-width: 65px;
            }

            &:last-child {
              min-width: 80px;
            }
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.10);
            color: rgba(255, 255, 255, 1);
          }

        }

        .buttons {
          position: absolute;
          z-index: 10;
          top: 0.75rem;
          width: calc(100% - 1.5rem);
          display: flex;
          justify-content: space-between;

          .repeat-btn,
          .reset-btn {
            @include btn;
            overflow: hidden;
            text-overflow: ellipsis;
            width: auto;
            padding: 0 10px;
            font-size: 1rem;
            height: 1.75rem;

            @include max_620() {
              font-size: 0.875rem;

              &:active {
                transform: scale(0.95);
              }
            }
          }

          .repeat-btn {
            min-width: 130px;
            margin-right: 0.25rem;
          }
        }


      }
    }
  }

  footer {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.85rem;
    cursor: default;

    span img {
      vertical-align: top;
    }


    a {
      opacity: 0.6;
      transition: opacity 0.1s;

      &:hover {
        opacity: 1;
      }
    }

    .github-logo {
      height: 1rem;
    }

    .rsschool-logo {
      margin-top: 0.5rem;
    }
  }
}
