* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  background-color: rgba(195, 219, 109, 0.8);
  width: 50vw;
  height: 50vw;
  display: grid;
  max-width: 420px;
  max-height: 420px;
  border: 1px solid #444;
  margin-top: 3em;
}

.game-board .chip {
  background-color: #9b6931;
  margin: 2px;
  color: #ffffc8;
  border: 1px solid black;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  user-select: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
